# SPDX-License-Identifier: GPL-2.0

menuconfig THROTTLER
	bool "Throttler support"
	depends on OF
	depends on PM_DEVFREQ
	help
	  This option enables core support for non-thermal throttling of CPUs
	  and devfreq devices.

	  Note that you also need a event monitor module usually called
	  *_throttler.
